.container {
    background-color: rgb(113, 187, 129);
    height: 100%;
}

.jombotron {
    background-color: #ffff33;
    font-family: 'Supermercado One', cursive;
    color:  #ff0066;
    font-size: 5rem;
}

.gameBoard {
    padding: 2rem;
    font-family: 'Graduate', cursive;
    color: #eff876;
    text-shadow: 0 0 3px rgba(41, 40, 40, 0.89)
}
